@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 110vh;
}

.qrcode-container {
    background-color: #fff;
    width: 24%;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(136, 131, 131, 0.2);;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.qrcode-container h1 {
    font-size: 1.4em;
    width: 100%;
    margin: 16px 0px;
    color: hsl(218, 44%, 22%);
}

.qrcode-container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .qrcode-container {
        width: 85%;
    }
}